$color-principal: #7ef6f1;
$color-fondo: #eafefd;
$color-titulo: #10605d;
$color-principal-12: #0b9d97;
$color-principal-dark: #043e3c;
$color-rojo: darken(#dc3545, 10%);
$color-etiqueta: #689900;
$color_texto_anotaciones: #333;
$color-border-input: lighten(grey, 10%);
