

.tab-rss{
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background-color:  rgba($color-principal,0.8);
  place-items: center;
  font-size: 2rem;
}

.tab-container{
  width: 75%;
  background-color: $color-principal-12;
  border-radius: 2rem;
  padding: 3rem 4rem;
}

.head{
position: relative;
&>button{
  font-size: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  border:none;
  color:$color-rojo;
  font-weight: 900;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0.4rem 0.4rem rgba($color: #000000, $alpha: 0.1);

  &:hover{
    cursor: pointer;
    transform: translateY(0.2rem);
    box-shadow: none;

  }
}
}

.header-tab{
  margin-bottom: 3rem;
  color:white;
  font-weight: 900;
  text-transform: uppercase;
}

.header-h3-tab{
  margin-top: 3rem;
  margin-bottom: 1rem;

  &.hj1{
    margin-top: auto;
  }


}

.form-tab{
  margin-bottom: 3rem;
}

.link-tab{
  &:link,&:visited{
    display: inline-block;
  }
}