.login-container {
  font-size: 1.6rem;
  width: 75vw;
  padding: 2rem 2.4rem;
  margin: 0 auto;
  //para celulares MOTO G4
  @media (max-width: 360px) and (max-height: 640px) {
    width: 100vw;
  }

  @media (max-width: 825px) and (max-height: 471px) {
    font-size: 1rem;
    width: 100vw;
  }
}

.login-titulo {
  margin-top: 2rem;
  text-align: center;
  font-size: 5.4rem;
  color: $color-titulo;
  margin-bottom: 10rem;
  @media (max-width: 1439px) {
    margin-bottom: 3rem;
    line-height: 1.1;
    font-size: 4rem;
  }
  @media (max-width: 910px) and (max-height: 500px) {
    font-size: 3.5rem;
  }
  @media (max-width: 650px) {
    margin-bottom: 3rem;
    line-height: 1.1;
    font-size: 3rem;
  }
  @media (max-width: 390px) and (max-height: 884px) {
    font-size: 3rem;
  }
}

.login-links {
  // background-color: wheat;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 2rem 2.4rem;
  position: fixed;
  text-align: center;
  &h3 {
    color: lighten($color-titulo, 25%);
  }
  @media (max-width: 825px) and (max-height: 471px) {
    font-size: 1rem;
  }
}

.formulario-login {
  margin-top: 4rem;
  @media (max-width: 972px) {
    padding: 0.1rem;
    font-size: 1rem;
  }
}

.login-button {
  margin-top: 4rem;
  width: 10% !important;
}
