/* .active{
  color:red
} */

body {
  background-color: #eafefd;
}

.over {
  z-index: 1000;
}

.card {
  /* position: absolute; */
  top: 0;
  right: 0%;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.card-update {
  background-color: #eafefd;
  border-radius: 20px;
}

.no-opacity {
  opacity: 1 !important;
}

.boton-cierre {
  top: 5%;
  right: 5%;
}

.header {
  text-align: center;
  color: rgb(24, 100, 171);
  margin-bottom: 10px;
}

.header-form {
  color: #10605d;
  padding: 10px;
}

/*

ANOTACIONES
/////////////////////////////////////////////////////////////////

*/
.annotation {
  border-radius: 25px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
  background-color: #7ef6f1;
  color: #333;
  font-weight: 600;
}
.etiquetas {
  /* color: #08302e; */
  font-weight: 600;
  font-size: 18px;
  color: #689900;
}
.etiqueta-anotacion {
  /* color: #08302e; */
  color: #689900;

  font-weight: 600;
  font-size: 32px;
}

.annotation h4 {
  font-size: 32px;
}

.shadow {
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
}

.shadow-bigger {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.overflow-y {
  overflow-y: scroll;
  height: 100vh;
}

.form {
  /* background-color: #eafefd; */
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 50px;
}

.form-crear {
  /* background-color: rgba(126, 246, 241, 0.2); */
  padding: 30px;
}
.form-crear h4 {
  font-size: 36px;
}

.form-crear div {
  margin-top: 50px !important;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.1) !important;
}

.form-crear button {
  margin-top: 50px !important;
  margin-left: 30px !important;
  margin-bottom: 20px !important;
}

/* NAVBAR */

.nav {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  /* background-color: #28f0e8;
   */
  background-color: #7ef6f1;
  padding: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-title {
  float: left;
}

.nav-container {
  display: flex;
  align-items: end;
}

.nav-link {
  display: inline-block;
}

.link:link,
.link:visited {
  text-decoration: none;
  background-color: #7ef6f1;
  padding: 10px 25px;
  color: black;
  border: 3px solid #fff;
  border-radius: 50px;
}

.link-active:link,
.link-active:visited {
  /* background-color: #3d77f2 !important; */
  background-color: #fff;
  color: black;
}
