.footer {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 25vh;
  background-color: white;
  border: 0.5rem solid $color-principal;
  border-bottom: none;
  border-radius: 2rem;
  border-bottom: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 1350px) {
    width: 100%;
    font-size: 1.5rem;
  }

  //Iphone 12 pro
  @media (max-width: 390px) and (max-height: 884px) {
    display: inline-block;
    position: fixed;
    bottom: 0rem;
    height: auto;
  }
  @media (max-width: 375px) and (max-height: 667px) {
    display: inline-block;
    height: auto;
    bottom: 0rem;
    position: fixed;
  }
}
.container-links-hypotesis {
  width: 65%;
  height: 100%;
  padding-top: 2rem;
  margin: 0;

  //Iphone 12 pro
  @media (max-width: 390px) and (max-height: 884px) {
    visibility: hidden;
    display: none;
  }
}
.container-list {
  display: grid;
  justify-content: center;
  margin-top: 2rem;
  text-decoration: none;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1rem;
  list-style: none;
  & > a:link,
  a:visited {
    text-decoration: none;
  }

  @media (max-width: 1080px) and (max-height: 715px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 869px) and (max-height: 687px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.container-hypotesis-title {
  text-align: center;
  margin-bottom: 0.45rem;
}
.contacto-header {
  text-align: center;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.link-login {
  position: relative;
  color: $color-principal-dark;
  font-weight: bolder !important;

  &::before {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: $color-principal-dark;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  }
}

@media (hover: hover) and (pointer: fine) {
  .link-login:hover::before {
    left: 0;
    right: auto;
    width: 100%;
  }
}

.link-container-contacto {
  transition: all 0.2s ease;
  width: 45%;
  padding-left: 4rem !important;

  //Iphone 12 pro
  @media (max-width: 390px) and (max-height: 884px) {
    // background-color: red;
    padding-left: 0 !important;
    width: 80%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.logo {
  height: auto;
  width: 3rem;
  display: inline-block;
}

.link-contacto {
  padding: auto 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  width: max-content;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  &:hover {
    color: $color-principal-dark;
    &::after {
      transform: rotate(45deg);
      content: "";
      display: inline-block;
      background-color: $color-principal-dark;
      width: 1rem;
      height: 1rem;
      margin-left: 1rem;
    }
  }
}
